
	</head>
	<body>
		<header>
			<hgroup>
				<h1><a href="/">atomicules</a></h1>
				<h2>Particules élémentaires: <a href="/pictures.html">pictures</a>, <a href="/pushing.html">pushing</a>, <a href="/programming.html">programming</a>.</h2>
			</hgroup>
			<nav>
				<ul>
					<li><a href="/archive.html">Archive</a></li>
					<li><a href="/fever.html">Fever</a></li>
					<li><a href="/elsewhere.html">Elsewhere</a></li>
				</ul>
			</nav>
			<iframe src="http://duckduckgo.com/search.html?width=200&amp;site=atomicules.co.uk&amp;bgcolor=bd3c36" style="overflow:hidden;margin:0;padding:0;height:40px;border-style:none;" ></iframe>
		</header>
		<section>		
