<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>atomicules - {{ page.title }}</title>
		<link rel="shortcut icon" href="/images/favicon.png" />
		<link rel="alternate" type="application/atom+xml" href="/atom.xml" />
		<link href="/styles/atomicules.css" media="screen" rel="Stylesheet" title="atomicules" type="text/css" />
		<!-- Theme originally based on Pro White 1.0 (http://customthemes.tumblr.com/post/70461310/prowhite-by-josh-jenkins-based-on-black-and-blue), but it has come a long way since then - this blog is no longer on Tumblr for starters! -->
		<link rel="openid2.provider" href="https://openid.stackexchange.com/openid/provider">
		<link rel="openid2.local_id" href="https://openid.stackexchange.com/user/11c39e39-1c69-4220-8ab7-86628cd2c24f">
	
